<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="http://img04.deviantart.net/abde/i/2014/106/e/8/white_tree_of_gondor_symbol_by_drdraze-d7ebn9l.png" alt="">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/Simpleicons_Interface_link-symbol-of-two-chains-links-linked.svg/964px-Simpleicons_Interface_link-symbol-of-two-chains-links-linked.svg.png" alt="">
    <title>Header Microservice</title>
  </head>
  <body>
    <h1>API Project: URL Shortener Microservice</h1>
    <section class="main-content">
      <h2>User Story:</h2>
      <p>
        1. I can POST a URL to https://ceheiss-url-shortener.glitch.me/api/shorturl/new and I will receive a shortened URL in the JSON response.
        Example : <code>{"original_url":"www.google.com","short_url":1}</code>
      </p>
      <p>
        2. If I pass an invalid URL that doesn't follow the <code>http(s)://www.example.com(/more/routes)</code> format, the JSON response will contain an error like <code>{"error":"invalid URL"}</code>
        HINT: to be sure that the submitted url points to a valid site you can use the function dns.lookup(host, cb) from the dns core module.
      </p>
      <p>
        3. When I visit the shortened URL, it will redirect me to my original link.
      </p>
      <form action="api/shorturl/new" method="POST">
        <label for="url_input">URL to be shortened</label>
        <input id="url_input" type="text" name="url">
        <input type="submit" value="POST URL">
      </form>
    </section>
  </body>
</html>