body {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #333;
}

h1 {
  font-family: "Baloo Paaji 2", cursive;
  text-align: center;
  font-size: 50px;
}

.main-content {
  width: 70%;
  font-family: "Roboto", sans-serif;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 7px;
  border: 3px solid white;
  padding: 20px 40px;
  padding-bottom: 60px;
  margin: 80px auto;
}
